@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.reg-id {
  margin: 40px auto;
  width: 70vw;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login-button {
  background-color: #c42421;
  width: 60vw;
  height: 48px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font: bold;
  font-size: 1.4rem;
  color: #332222;
}

#title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #c42421;
  font-weight: 500;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
a {
  color: black;
}
#appbar {
  background-color: white;
  height: "15vh";
  display: "flex";
  justify-content: "center";
}

#icon {
  width: 4vw;
}
#icon1 {
  width: 5vw;
}
.svg_icons {
  transform: scale(1.3);
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
.form > h3 {
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
}
.login-button {
  width: 70vw;
}

@media (min-width: 1024px) {
  #top-img {
    max-width: 10vw;
  }
  .login-button {
    width: 10vw;
  }
  #icon {
    width: 2vw;
  }
  #icon1 {
    width: 2.5vw;
  }
  .curve {
    visibility: hidden;
  }
}
.name-h3 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.curve {
  width: 100%;
  height: 25vh;
  background-color: white;
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: -50% 20px;
}
#top-img {
  width: 30vw;
}
